*~
bookmarks
custom.el
session.*
url/*
auto-save-list/*
elpa/*
plugins/*
eshell/*

.\#*
.org-id-locations
tramp
ido.last

# for auto-complete
ac-comphist.dat
auto-complete/*

# for projectile
projectile-bookmarks.eld
projectile.cache
